.home {

	#primary {
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}

.home-callout {
	border-top: 1px solid #fff;
	padding-top: 15px;
	padding-left: 40px;
	padding-right: 40px;
}
	.home-callout-card {
		padding: 10px;
		padding-top: 15px;
		padding-bottom: 15px;

		h2 {
			color: $brand-color;
			text-transform: uppercase;
			margin: 10px 0;
			font-size: 2rem;
			height: 5rem;
		}
		p {
			line-height: 1.5; 
		}
	}
}
