
.artcenter-top-column {
	h2 {
		text-align: center;
	}
}

.artcenter-middle {
	padding-top: 40px;
	padding-bottom: 40px;
}



.artcenter-callout {
	border-top: 1px solid #fff;
	padding-top: 15px;
	
	.artcenter-callout-card {
		padding: 10px;
		
		img {
			max-width: 100%;
		}
		h2 {
			color: $art-center-brand;
			text-transform: uppercase;
			margin: 10px 0;
			font-size: 2rem;
		}
		p {
			line-height: 1.5;
			span {
				font-weight: bold;
				font-style: italic;
			}
		}
	}
}