// COLORS
$text-color-dark: #231f20;
$text-color-normal: #333;
$text-color-light: #8e8f93;

$brand-color: #428bca;   //  #57a8dd
$art-gallery-brand: #663399;
$art-center-brand: #a52c32;
$open-studios-brand: #E5843D;

$header-bg: #f8cf51;

$button: #30B0D5;
$button-hover: #5BC0DE;

// $gradient-dark: #521a97;
// $gradient-light: #f1ce04;
// $gradient-mid: #e80942;

$card-border-color: #ddd;



// FONTS
// $default-font-size: 1.6rem;
